[submodule "public/examples/scenes/myosuite"]
	path = public/examples/scenes/myosuite
	url = https://github.com/myohub/myosuite.git
[submodule "public/examples/scenes/mujoco_menagerie"]
	path = public/examples/scenes/mujoco_menagerie
	url = https://github.com/google-deepmind/mujoco_menagerie.git
[submodule "public/examples/scenes/mujoco_playground"]
	path = public/examples/scenes/mujoco_playground
	url = https://github.com/ttktjmt/mujoco_playground.git
